<a href="https://colab.research.google.com/github/sankardevisharath/amex-default-prediction/blob/master/notebooks/split_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load Data From Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%mkdir data
%cd data
%mkdir raw
%cd raw

/content/data
/content/data/raw

In [3]:
!cp /content/drive/MyDrive/amex-default-prediction/data/raw/amex-default-prediction.zip .

In [4]:
!unzip amex-default-prediction.zip train_data.csv

Archive:  amex-default-prediction.zip
  inflating: train_data.csv

In [5]:
!unzip amex-default-prediction.zip train_labels.csv

Archive:  amex-default-prediction.zip
  inflating: train_labels.csv

In [6]:
import gc

import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:

TRAIN_DATA_PATH = '/content/data/raw/train_data.csv'
TRAIN_LABELS_PATH = '/content/data/raw/train_labels.csv'

In [8]:
def read_cols(cols):
  df = pd.read_csv(TRAIN_DATA_PATH, usecols=cols)
  df = append_label(df)
  return df

In [9]:
train_labels = pd.read_csv(TRAIN_LABELS_PATH)

In [10]:
train_labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   customer_ID  458913 non-null  object
 1   target       458913 non-null  int64
dtypes: int64(1), object(1)
memory usage: 7.0+ MB

In [11]:
def append_label(source_df):
  return pd.merge(left=source_df, right=train_labels, how='inner')

In [12]:
pd.read_csv(TRAIN_DATA_PATH, nrows=10).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Columns: 190 entries, customer_ID to D_145
dtypes: float64(185), int64(1), object(4)
memory usage: 15.0+ KB

In [13]:
columns = pd.read_csv(TRAIN_DATA_PATH, nrows=10).dtypes

In [14]:
cust_id_stmt_date_df = pd.read_csv(TRAIN_DATA_PATH, usecols=['customer_ID', 'S_2'])

In [15]:
cust_id_stmt_date_df.shape

(5531451, 2)

In [16]:
cust_id_stmt_date_df.head()

                                         customer_ID         S_2
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...  2017-03-09
1  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...  2017-04-07
2  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...  2017-05-28
3  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...  2017-06-13
4  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...  2017-07-16

In [18]:
cust_id_stmt_date_df.iloc[0]['customer_ID']

'0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a'

In [24]:
idx = cust_id_stmt_date_df[cust_id_stmt_date_df['customer_ID'] == '0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a'].index.tolist()
idx

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [25]:
cust_id_stmt_date_df.iloc[14]['customer_ID']

'00000fd6641609c6ece5454664794f0340ad84dddce9a267a310b5ae68e9d8e5'

In [31]:
customers = ['00000fd6641609c6ece5454664794f0340ad84dddce9a267a310b5ae68e9d8e5', '0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a']
idx = cust_id_stmt_date_df[cust_id_stmt_date_df['customer_ID'].isin(customers)].index.tolist()
idx

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [32]:
df = pd.read_csv(TRAIN_DATA_PATH, skiprows=(lambda x: x not in idx))

In [ ]:
df

In [41]:
customers = cust_id_stmt_date_df.customer_ID.unique().tolist()

In [42]:
len(customers)

458913

In [44]:
customers[0:10]

['0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a',
 '00000fd6641609c6ece5454664794f0340ad84dddce9a267a310b5ae68e9d8e5',
 '00001b22f846c82c51f6e3958ccd81970162bae8b007e80662ef27519fcc18c1',
 '000041bdba6ecadd89a52d11886e8eaaec9325906c9723355abb5ca523658edc',
 '00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8ad51ca8b8c4a24cefed',
 '000084e5023181993c2e1b665ac88dbb1ce9ef621ec5370150fc2f8bdca6202c',
 '000098081fde4fd64bc4d503a5d6f86a0aedc425c96f5235f98b0f47c9d7d8d4',
 '0000d17a1447b25a01e42e1ac56b091bb7cbb06317be4cb59b50fec59e0b6381',
 '0000f99513770170a1aba690daeeb8a96da4a39f11fc27da5c30a79db61c1e85',
 '00013181a0c5fc8f1ea38cd2b90fe8ad2fa8cad9d9f13e4063bdf6b0f7d51eb6']

In [57]:
idx = cust_id_stmt_date_df[cust_id_stmt_date_df['customer_ID'].isin(customers[0:2])].index.tolist()
len(idx)

26

In [58]:
df = pd.read_csv(TRAIN_DATA_PATH, skiprows=(lambda x: x not in idx))

In [64]:
import dask
import dask.dataframe as dd

In [ ]:
!pip install dask[dataframe]

In [66]:
df = dd.read_csv(TRAIN_DATA_PATH)

In [94]:
ddf1 = df.partitions[0].compute()

In [ ]:
ddf1[ddf1.customer_ID.isin(customers[0:10])]

In [108]:
rdf = pd.DataFrame()
rdf

Empty DataFrame
Columns: []
Index: []

In [116]:

for i in range(df.npartitions):
  print(i)
  ddf1 = df.partitions[i].compute()
  rdf = rdf.append(ddf1[ddf1.customer_ID.isin(customers[0:100000])], ignore_index=True)
  print(rdf.shape)

0
(142224, 190)
1
(163822, 190)
2
(185409, 190)
3
(206976, 190)
4
(228603, 190)
5
(250189, 190)
6
(271773, 190)
7
(293358, 190)
8
(314960, 190)
9
(336552, 190)
10
(358164, 190)
11
(379778, 190)
12
(401381, 190)
13
(422978, 190)
14
(444560, 190)
15
(466169, 190)
16
(487772, 190)
17
(509355, 190)
18
(530938, 190)
19
(552535, 190)
20
(574104, 190)
21
(595680, 190)
22
(617273, 190)
23
(638872, 190)
24
(660466, 190)
25
(682074, 190)
26
(703676, 190)
27
(725266, 190)
28
(746861, 190)
29
(768475, 190)
30
(790075, 190)
31
(811653, 190)
32
(833227, 190)
33
(854827, 190)
34
(876415, 190)
35
(898023, 190)
36
(919613, 190)
37
(941212, 190)
38
(962807, 190)
39
(984395, 190)
40
(1005965, 190)
41
(1027536, 190)
42
(1049150, 190)
43
(1070755, 190)
44
(1092342, 190)
45
(1113931, 190)
46
(1135542, 190)
47
(1157143, 190)
48
(1178710, 190)
49
(1200289, 190)
50
(1221864, 190)
51
(1243447, 190)
52
(1265030, 190)
53
(1286654, 190)
54
(1308239, 190)
55
(1326261, 190)
56
(1326261, 190)
57
(1326261, 190)
58
(1326261, 190)
59
(1326261, 190)
60
(1326261, 190)
61
(1326261, 190)
62
(1326261, 190)
63
(1326261, 190)
64
(1326261, 190)
65
(1326261, 190)
66
(1326261, 190)
67
(1326261, 190)
68
(1326261, 190)
69
(1326261, 190)
70
(1326261, 190)
71
(1326261, 190)
72
(1326261, 190)
73
(1326261, 190)
74
(1326261, 190)
75
(1326261, 190)
76
(1326261, 190)
77
(1326261, 190)
78
(1326261, 190)
79
(1326261, 190)
80
(1326261, 190)
81
(1326261, 190)
82
(1326261, 190)
83
(1326261, 190)
84
(1326261, 190)
85
(1326261, 190)
86
(1326261, 190)
87
(1326261, 190)
88
(1326261, 190)
89
(1326261, 190)
90
(1326261, 190)
91
(1326261, 190)
92
(1326261, 190)
93
(1326261, 190)
94
(1326261, 190)
95
(1326261, 190)
96
(1326261, 190)
97
(1326261, 190)
98
(1326261, 190)
99
(1326261, 190)
100
(1326261, 190)
101
(1326261, 190)
102
(1326261, 190)
103
(1326261, 190)
104
(1326261, 190)
105
(1326261, 190)
106
(1326261, 190)
107
(1326261, 190)
108
(1326261, 190)
109
(1326261, 190)
110
(1326261, 190)
111
(1326261, 190)
112
(1326261, 190)
113
(1326261, 190)
114
(1326261, 190)
115
(1326261, 190)
116
(1326261, 190)
117
(1326261, 190)
118
(1326261, 190)
119
(1326261, 190)
120
(1326261, 190)
121
(1326261, 190)
122
(1326261, 190)
123
(1326261, 190)
124
(1326261, 190)
125
(1326261, 190)
126
(1326261, 190)
127
(1326261, 190)
128
(1326261, 190)
129
(1326261, 190)
130
(1326261, 190)
131
(1326261, 190)
132
(1326261, 190)
133
(1326261, 190)
134
(1326261, 190)
135
(1326261, 190)
136
(1326261, 190)
137
(1326261, 190)
138
(1326261, 190)
139
(1326261, 190)
140
(1326261, 190)
141
(1326261, 190)
142
(1326261, 190)
143
(1326261, 190)
144
(1326261, 190)
145
(1326261, 190)
146
(1326261, 190)
147
(1326261, 190)
148
(1326261, 190)
149
(1326261, 190)
150
(1326261, 190)
151
(1326261, 190)
152
(1326261, 190)
153
(1326261, 190)
154
(1326261, 190)
155
(1326261, 190)
156
(1326261, 190)
157
(1326261, 190)
158
(1326261, 190)
159
(1326261, 190)
160
(1326261, 190)
161
(1326261, 190)
162
(1326261, 190)
163
(1326261, 190)
164
(1326261, 190)
165
(1326261, 190)
166
(1326261, 190)
167
(1326261, 190)
168
(1326261, 190)
169
(1326261, 190)
170
(1326261, 190)
171
(1326261, 190)
172
(1326261, 190)
173
(1326261, 190)
174
(1326261, 190)
175
(1326261, 190)
176
(1326261, 190)
177
(1326261, 190)
178
(1326261, 190)
179
(1326261, 190)
180
(1326261, 190)
181
(1326261, 190)
182
(1326261, 190)
183
(1326261, 190)
184
(1326261, 190)
185
(1326261, 190)
186
(1326261, 190)
187
(1326261, 190)
188
(1326261, 190)
189
(1326261, 190)
190
(1326261, 190)
191
(1326261, 190)
192
(1326261, 190)
193
(1326261, 190)
194
(1326261, 190)
195
(1326261, 190)
196
(1326261, 190)
197
(1326261, 190)
198
(1326261, 190)
199
(1326261, 190)
200
(1326261, 190)
201
(1326261, 190)
202
(1326261, 190)
203
(1326261, 190)
204
(1326261, 190)
205
(1326261, 190)
206
(1326261, 190)
207
(1326261, 190)
208
(1326261, 190)
209
(1326261, 190)
210
(1326261, 190)
211
(1326261, 190)
212
(1326261, 190)
213
(1326261, 190)
214
(1326261, 190)
215
(1326261, 190)
216
(1326261, 190)
217
(1326261, 190)
218
(1326261, 190)
219
(1326261, 190)
220
(1326261, 190)
221
(1326261, 190)
222
(1326261, 190)
223
(1326261, 190)
224
(1326261, 190)
225
(1326261, 190)
226
(1326261, 190)
227
(1326261, 190)
228
(1326261, 190)
229
(1326261, 190)
230
(1326261, 190)
231
(1326261, 190)
232
(1326261, 190)
233
(1326261, 190)
234
(1326261, 190)
235
(1326261, 190)
236
(1326261, 190)
237
(1326261, 190)
238
(1326261, 190)
239
(1326261, 190)
240
(1326261, 190)
241
(1326261, 190)
242
(1326261, 190)
243
(1326261, 190)
244
(1326261, 190)
245
(1326261, 190)
246
(1326261, 190)
247
(1326261, 190)
248
(1326261, 190)
249
(1326261, 190)
250
(1326261, 190)
251
(1326261, 190)
252
(1326261, 190)
253
(1326261, 190)
254
(1326261, 190)
255
(1326261, 190)
256
(1326261, 190)

In [118]:
rdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1326261 entries, 0 to 1326260
Columns: 190 entries, customer_ID to D_145
dtypes: float64(185), int64(1), object(4)
memory usage: 1.9+ GB

In [120]:
rdf.to_parquet(path='data_1.parquet')

In [121]:
!cp data_1.parquet /content/drive/MyDrive/amex-default-prediction/data/raw/

In [128]:
rdf = pd.DataFrame()
for i in range(df.npartitions):
  print(i)
  ddf1 = df.partitions[i].compute()
  ddf1['S_2'] = pd.to_datetime(ddf1["S_2"])
  rdf = rdf.append(ddf1[ddf1.S_2.dt.to_period('M')== '2017-05'], ignore_index=True)
  print(rdf.shape)

0
(1560, 190)
1
(3126, 190)
2
(4688, 190)
3
(6240, 190)
4
(7798, 190)
5
(9352, 190)
6
(10904, 190)
7
(12464, 190)
8
(14012, 190)
9
(15568, 190)
10
(17148, 190)
11
(18703, 190)
12
(20266, 190)
13
(21818, 190)
14
(23379, 190)
15
(24937, 190)
16
(26494, 190)
17
(28054, 190)
18
(29612, 190)
19
(31173, 190)
20
(32750, 190)
21
(34312, 190)
22
(35861, 190)
23
(37418, 190)
24
(38975, 190)
25
(40527, 190)
26
(42083, 190)
27
(43634, 190)
28
(45195, 190)
29
(46751, 190)
30
(48316, 190)
31
(49879, 190)
32
(51444, 190)
33
(53012, 190)
34
(54589, 190)
35
(56159, 190)
36
(57724, 190)
37
(59289, 190)
38
(60858, 190)
39
(62428, 190)
40
(64000, 190)
41
(65564, 190)
42
(67119, 190)
43
(68671, 190)
44
(70235, 190)
45
(71783, 190)
46
(73361, 190)
47
(74916, 190)
48
(76479, 190)
49
(78056, 190)
50
(79620, 190)
51
(81180, 190)
52
(82761, 190)
53
(84321, 190)
54
(85888, 190)
55
(87448, 190)
56
(89017, 190)
57
(90597, 190)
58
(92157, 190)
59
(93734, 190)
60
(95310, 190)
61
(96873, 190)
62
(98418, 190)
63
(99973, 190)
64
(101540, 190)
65
(103118, 190)
66
(104686, 190)
67
(106255, 190)
68
(107814, 190)
69
(109379, 190)
70
(110935, 190)
71
(112506, 190)
72
(114069, 190)
73
(115640, 190)
74
(117200, 190)
75
(118752, 190)
76
(120303, 190)
77
(121870, 190)
78
(123454, 190)
79
(125018, 190)
80
(126586, 190)
81
(128153, 190)
82
(129723, 190)
83
(131279, 190)
84
(132840, 190)
85
(134413, 190)
86
(135977, 190)
87
(137543, 190)
88
(139095, 190)
89
(140657, 190)
90
(142211, 190)
91
(143773, 190)
92
(145352, 190)
93
(146909, 190)
94
(148467, 190)
95
(150041, 190)
96
(151613, 190)
97
(153177, 190)
98
(154736, 190)
99
(156304, 190)
100
(157884, 190)
101
(159457, 190)
102
(161024, 190)
103
(162568, 190)
104
(164130, 190)
105
(165707, 190)
106
(167260, 190)
107
(168825, 190)
108
(170383, 190)
109
(171952, 190)
110
(173505, 190)
111
(175062, 190)
112
(176619, 190)
113
(178176, 190)
114
(179744, 190)
115
(181314, 190)
116
(182872, 190)
117
(184436, 190)
118
(185990, 190)
119
(187568, 190)
120
(189132, 190)
121
(190678, 190)
122
(192238, 190)
123
(193800, 190)
124
(195360, 190)
125
(196912, 190)
126
(198478, 190)
127
(200055, 190)
128
(201611, 190)
129
(203165, 190)
130
(204732, 190)
131
(206285, 190)
132
(207834, 190)
133
(209396, 190)
134
(210956, 190)
135
(212528, 190)
136
(214088, 190)
137
(215647, 190)
138
(217220, 190)
139
(218779, 190)
140
(220347, 190)
141
(221905, 190)
142
(223471, 190)
143
(225033, 190)
144
(226602, 190)
145
(228167, 190)
146
(229723, 190)
147
(231275, 190)
148
(232828, 190)
149
(234397, 190)
150
(235958, 190)
151
(237530, 190)
152
(239107, 190)
153
(240670, 190)
154
(242213, 190)
155
(243773, 190)
156
(245335, 190)
157
(246905, 190)
158
(248478, 190)
159
(250049, 190)
160
(251620, 190)
161
(253167, 190)
162
(254735, 190)
163
(256309, 190)
164
(257875, 190)
165
(259440, 190)
166
(260997, 190)
167
(262555, 190)
168
(264097, 190)
169
(265662, 190)
170
(267228, 190)
171
(268802, 190)
172
(270349, 190)
173
(271902, 190)
174
(273459, 190)
175
(275018, 190)
176
(276587, 190)
177
(278157, 190)
178
(279722, 190)
179
(281285, 190)
180
(282849, 190)
181
(284419, 190)
182
(285980, 190)
183
(287540, 190)
184
(289093, 190)
185
(290665, 190)
186
(292214, 190)
187
(293778, 190)
188
(295354, 190)
189
(296913, 190)
190
(298473, 190)
191
(300045, 190)
192
(301608, 190)
193
(303184, 190)
194
(304751, 190)
195
(306309, 190)
196
(307871, 190)
197
(309428, 190)
198
(310995, 190)
199
(312557, 190)
200
(314109, 190)
201
(315677, 190)
202
(317241, 190)
203
(318805, 190)
204
(320370, 190)
205
(321935, 190)
206
(323504, 190)
207
(325076, 190)
208
(326637, 190)
209
(328194, 190)
210
(329763, 190)
211
(331334, 190)
212
(332905, 190)
213
(334479, 190)
214
(336053, 190)
215
(337622, 190)
216
(339177, 190)
217
(340739, 190)
218
(342304, 190)
219
(343865, 190)
220
(345432, 190)
221
(346985, 190)
222
(348532, 190)
223
(350091, 190)
224
(351650, 190)
225
(353196, 190)
226
(354760, 190)
227
(356331, 190)
228
(357880, 190)
229
(359447, 190)
230
(361002, 190)
231
(362558, 190)
232
(364119, 190)
233
(365688, 190)
234
(367259, 190)
235
(368812, 190)
236
(370368, 190)
237
(371924, 190)
238
(373482, 190)
239
(375046, 190)
240
(376599, 190)
241
(378162, 190)
242
(379728, 190)
243
(381292, 190)
244
(382872, 190)
245
(384441, 190)
246
(386015, 190)
247
(387578, 190)
248
(389144, 190)
249
(390700, 190)
250
(392273, 190)
251
(393833, 190)
252
(395395, 190)
253
(396964, 190)
254
(398521, 190)
255
(400078, 190)
256
(400306, 190)

In [129]:
rdf.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2017-05-07,0.922563,0.567403,0.033713,1.007497,0.005594,0.094655,0.003162,0.010466,...,NaN,NaN,NaN,0.007742,0.002693,0.009851,NaN,0.000996,0.003254,0.004469
2,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,2017-05-12,0.884522,0.003399,0.003495,0.818569,0.007541,NaN,0.007537,0.000859,...,NaN,NaN,NaN,0.003084,0.000304,0.000891,NaN,0.002980,0.009026,0.002959
3,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,2017-05-29,0.581232,0.206867,0.279991,1.004374,0.001605,0.149216,0.008668,0.008219,...,NaN,NaN,NaN,0.004132,0.003133,0.007118,NaN,0.003069,0.000492,0.004728
4,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,2017-05-30,0.937438,0.003936,0.003352,0.814304,0.002594,NaN,0.000545,0.003142,...,NaN,NaN,NaN,0.008103,0.006132,0.003267,NaN,0.008814,0.001211,0.001624

In [130]:
rdf.S_2.unique()

array(['2017-05-28T00:00:00.000000000', '2017-05-07T00:00:00.000000000',
       '2017-05-12T00:00:00.000000000', '2017-05-29T00:00:00.000000000',
       '2017-05-30T00:00:00.000000000', '2017-05-19T00:00:00.000000000',
       '2017-05-23T00:00:00.000000000', '2017-05-15T00:00:00.000000000',
       '2017-05-17T00:00:00.000000000', '2017-05-13T00:00:00.000000000',
       '2017-05-11T00:00:00.000000000', '2017-05-14T00:00:00.000000000',
       '2017-05-18T00:00:00.000000000', '2017-05-16T00:00:00.000000000',
       '2017-05-26T00:00:00.000000000', '2017-05-21T00:00:00.000000000',
       '2017-05-31T00:00:00.000000000', '2017-05-27T00:00:00.000000000',
       '2017-05-08T00:00:00.000000000', '2017-05-09T00:00:00.000000000',
       '2017-05-24T00:00:00.000000000', '2017-05-06T00:00:00.000000000',
       '2017-05-04T00:00:00.000000000', '2017-05-05T00:00:00.000000000',
       '2017-05-10T00:00:00.000000000', '2017-05-03T00:00:00.000000000',
       '2017-05-22T00:00:00.000000000', '2017-05-01T00:00:00.000000000',
       '2017-05-25T00:00:00.000000000', '2017-05-20T00:00:00.000000000',
       '2017-05-02T00:00:00.000000000'], dtype='datetime64[ns]')